<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>

<div align="center">
    <h1>Admin page</h1>
    <br/><br/>
    <input type="button" value="Add new User"
           onclick="window.location.href = '/admin/new'"/>
    <br/><br/>

    <table border="1" cellpadding="15">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${AllUsers}">

            <td th:text="${user.username}">Value</td>
            <td th:text="${user.surname}">Value</td>
            <td th:text="${user.email}">Value</td>

            <td>
                <a th:method="POST" th:href="@{'/admin/update/' + ${user.id}}">Update</a>

                <a th:method="DELETE" th:href="@{'/admin/delete/' + ${user.id}}">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>

    <br/><br/>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout!"/>
    </form>
    <br/><br/>

</div>
</body>
</html>

